## You need install the 'Pyodbc' and the 'SQLite3 ODBC Driver'

#### pip install pyodbc

In [22]:
import pyodbc

#print(pyodbc.drivers())

# Setting up the connection
connection_data = ("Driver={SQLite3 ODBC Driver};Server=localhost;Database=salarios.sqlite")
connection = pyodbc.connect(connection_data)
print('All right... We are good to go!\n')

# Defining the cursor
cursor = connection.cursor()

# Write the code goes here.....
cursor.execute("select * from salaries")
consulta = cursor.fetchall()[:10]
print(consulta)

# Closing the connection...
cursor.close()
connection.close()
print('\nConnection was closed successfully!')

All right... We are good to go!
[(1, 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 167411.18, 0.0, 400184.25, None, 567595.43, 567595.43, 2011, '', 'San Francisco', ''), (2, 'GARY JIMENEZ', 'CAPTAIN III (POLICE DEPARTMENT)', 155966.02, 245131.88, 137811.38, None, 538909.28, 538909.28, 2011, '', 'San Francisco', ''), (3, 'ALBERT PARDINI', 'CAPTAIN III (POLICE DEPARTMENT)', 212739.13, 106088.18, 16452.6, None, 335279.91, 335279.91, 2011, '', 'San Francisco', ''), (4, 'CHRISTOPHER CHONG', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 77916.0, 56120.71, 198306.9, None, 332343.61, 332343.61, 2011, '', 'San Francisco', ''), (5, 'PATRICK GARDNER', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 134401.6, 9737.0, 182234.59, None, 326373.19, 326373.19, 2011, '', 'San Francisco', ''), (6, 'DAVID SULLIVAN', 'ASSISTANT DEPUTY CHIEF II', 118602.0, 8601.0, 189082.74, None, 316285.74, 316285.74, 2011, '', 'San Francisco', ''), (7, 'ALSON LEE', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 92492.01, 89062.9, 134426.14, None, 315981.05, 315981.05, 2011, '', 'San Francisco', ''), (8, 'DAVID KUSHNER', 'DEPUTY DIRECTOR OF INVESTMENTS', 256576.96, 0.0, 51322.5, None, 307899.46, 307899.46, 2011, '', 'San Francisco', ''), (9, 'MICHAEL MORRIS', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 176932.64, 86362.68, 40132.23, None, 303427.55, 303427.55, 2011, '', 'San Francisco', ''), (10, 'JOANNE HAYES-WHITE', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 285262.0, 0.0, 17115.73, None, 302377.73, 302377.73, 2011, '', 'San Francisco', '')]
Connection was closed successfully!

In [25]:
# CREATE...

import pyodbc

#print(pyodbc.drivers())

# Setting up the connection
connection_data = ("Driver={SQLite3 ODBC Driver};Server=localhost;Database=chinook.db")
connection = pyodbc.connect(connection_data)
print('All right... We are good to go!')

# Defining the cursor
cursor = connection.cursor()

# Write the code goes here.....
cursor.execute("""
    INSERT INTO albums (Title, ArtistId) VALUES ('Frevo do David', 10)
""")
cursor.commit() # This makes the data persistence...

cursor.execute("""
    SELECT * FROM albums ORDER BY AlbumId DESC
""")
query = cursor.fetchall()[0]
print(f'The record that has just been added -> {query}')

# Closing the connection...
cursor.close()
connection.close()
print('Connection was closed successfully!')

All right... We are good to go!
The record that has just been added -> (350, 'Frevo do David', 10)
Connection was closed successfully!

In [7]:
# Reading data with Pyodbc e opening it with pandas

import pyodbc

#print(pyodbc.drivers())

# Setting up the connection
connection_data = ("Driver={SQLite3 ODBC Driver};Server=localhost;Database=salarios.sqlite")
connection = pyodbc.connect(connection_data)
print('All right... We are good to go!\n')

# Defining the cursor
cursor = connection.cursor()

# Write the code goes here.....

# Fetching data
cursor.execute("select * from salaries")
query = cursor.fetchall() # OMG!! Huge amount of data!
columns = [record[0] for record in cursor.description]

# Pandas manipulation
import pandas as pd
salaries_df = pd.DataFrame.from_records(query, columns=columns)
display(salaries_df)


# Closing the connection...
cursor.close()
connection.close()
print('\nConnection was closed successfully!')

All right... We are good to go!

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,,San Francisco,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,,San Francisco,PT
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,,San Francisco,
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,,San Francisco,
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,,San Francisco,
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,,San Francisco,PT

Connection was closed successfully!

In [13]:
import pyodbc

#print(pyodbc.drivers())

# Setting up the connection
connection_data = ("Driver={SQLite3 ODBC Driver};Server=localhost;Database=chinook.db")
connection = pyodbc.connect(connection_data)
print('All right... We are good to go!\n')

# Defining the cursor
cursor = connection.cursor()

# Write the code goes here.....

# Bring to me the first record of the customers table
cursor.execute("SELECT * FROM customers")
query = cursor.fetchall()[0]
print(query)


# Now, update the email of this first record to updated@hahaha.com
cursor.execute("UPDATE customers SET email='updated@hahaha.com' WHERE email='luisg@embraer.com.br'")

# Let's see the result...
cursor.execute("SELECT * FROM customers where Id=1")
query = cursor.fetchall()
print(query)

# Closing the connection...
cursor.close()
connection.close()
print('\nConnection was closed successfully!')

All right... We are good to go!

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)

Error: ('HY000', '[HY000] no such column: Id (1) (1) (SQLExecDirectW)')